<footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto text-center">
      <p class="text-sm">&copy; <span id="year">2025</span> Taller Motores Diésel | Venta de Autobuses. Todos los derechos reservados.</p>
      <div class="mt-2 flex justify-center space-x-4">
        <a href="https://www.facebook.com/profile.php?id=100063702245998" class="hover:opacity-80">
          <img src="/assets/fb.png" alt="Facebook" class="w-6 h-6">
        </a>
        <a href="https://wa.me/5212228019600" class="hover:opacity-80">
          <img src="/assets/wa.png" alt="WhatsApp" class="w-6 h-6">
        </a>

      </div>
    </div>
  </footer>
  
