---
const logos = [
  { src: "/assets/mb.svg", alt: "Logo 2" },
  { src: "/assets/jac.png", alt: "Logo 1" },
  { src: "/assets/vol.svg", alt: "Logo 3" },
  { src: "/assets/man.png", alt: "Logo 4" },
  { src: "/assets/vw.svg", alt: "Logo 5" },

];
---

<div class="w-full py-16 flex flex-wrap justify-around gap-6">
  {logos.map((logo) => <img src={logo.src} alt={logo.alt} class="h-12 w-auto" />)}
</div>
